<html>

  <head>
    <title>Page POTIN</title>
  </head>
  
  <body>
    <h1>PAGE POTIN</h1>
    <p>Voici la page du potin : <%= id %> </p>  
    <p>Son auteur :  <%= gossip.author %> </p>
    <p>Le contenu du potin :  <%= gossip.content %> </p>

    <a href="/">Lien pour revenir à la page des potins</a> <br/>

    <a href="/gossips/<%= id %>/edit/">Lien pour modifier le potin</a>

  </body>

</html>


